
<%
   campaign_address = order['campaign']['address']
   campaign_suburb = order['campaign']['suburb_name']
   agency_name = order['agency']['title']
   order_items = order['items']
%>
<div class="order-card">
    <div class="agency-name">
        <%= "#{agency_name} - #{campaign_address}, #{campaign_suburb}" %>
    </div>
    <div class="order-items-container">
        <% order_items.each do |order_item| %>
        <% 
            if order_item["artwork"] 
                download_url = order_item["artwork"]["links"]["download_url"]
            else
                download_url = false
            end
            
        %>
            <div class="order-items-name">
                <%= order_item["title"] %>
            </div>
            <div class="order-items-actions">
                <Span class="download-artwork">
                <% if download_url %>
                        <a href="<%= download_url %>">Download Artwork </a> | 
                <% end %>
               </Span>
                <form action=<%= "/update_status/#{order_item["id"]}" %> method="post">
                <select name="status" onchange="this.form.submit();" class="change-status-dropdown">
                    <option value=<%= order_item["status"]["title"] %>>Change Status</option>
                    <option value="Processing">Processing</option>
                    <option value="Printed">Printed</option>
                    <option value="Packaged">Packaged</option>
                    <option value="Held">Held</option>
                    <option value="Processed">Processed</option>
                    <option value="Complete">Complete</option>
                    <option value="Dispatched">Dispatched</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Declined">Declined</option>
                </select>
                    <Span class='order-status <%="#{order_item["status"]["title"]}"%>'> | <%= order_item["status"]["title"] %></Span>
                </form>
            </div>
        <% end %>
    </div>
</div>
